<head>
    <link rel="stylesheet" href="./css/style.css"/>
</head>
<div class="hero min-h-screen" style="background-image: url(./imgs/BabyWaterSplash.jpg);">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-md">
        <h1 class="mb-5 text-5xl font-bold">Welcome To Formula Finder</h1>
        <p class="mb-5">A tool designed by parents, for parents. Store useful information regarding formula in your local area, and help others find what they need to feed their child.</p>
        <button class="btn btn-primary" onclick="window.location.href='/login';">Login</button>
        <button class="btn btn-primary" onclick="window.location.href='/Signup';">Signup</button>
      </div>
    </div>
  </div>
