<%- include('partials/header') -%>
<div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col">
  <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
  <div class="alert alert-danger"><%= el.msg %></div>
  <% }) %> <% } %> <% if (locals.messages.info) { %> <%
  messages.info.forEach( el => { %>
  <div class="alert alert-info"><%= el.msg %></div>
  <% }) %> <% } %>

  <form action="/signup" method="POST">
    <div class="mb-4">
      <label class="block text-grey-darker text-sm font-bold mb-2" for="userName">
        Username
      </label>
      <input type="text" class="form-control" id="userName" name="userName">
    </div>

    <div class="mb-4">
      <label class="block text-grey-darker text-sm font-bold mb-2" for="exampleInputEmail1">
        Email Address
      </label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>

    <div class="mb-6">
      <label class="block text-grey-darker text-sm font-bold mb-2" for="password">
        Password
      </label>
      <input type="password" class="form-control" id="password" name="password">
    </div>

    <div class="mb-6">
      <label class="block text-grey-darker text-sm font-bold mb-2" for="confirmPassword">
        Confirm Password
      </label>
      <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
    </div>

    <div class="flex items-center justify-between">
      <button class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded" type="submit">
        Create Account
      </button>
    </div>

  </form>
</div>

<%- include('partials/footer') -%>